* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root 

.container {
    max-width: 1080px;
    margin: auto;
    width: 80%;
    padding: 1rem;

}

.container-hd {
    max-width: 1080px;
    margin: auto;
    width: 40%;
    padding: 5rem 2rem;
    font-size: 1.5rem;

}

.d-flex-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
   /* background-color: rgb(170, 9, 250);*/
}

.last-side {
    display: flex;
    justify-content: space-between;

}

.fff-flex {
    display: flex;
    flex-direction: column;
}

.left-side {
    width: 25%;
}

.right-side {
    width: 20%;
}

.ff-flex {
    display: flex;
}

.f-flex {
    display: flex;
}

.d-flex {
    display: flex;
    align-items: center;
    margin: auto;
   /* background-color: rgb(7, 207, 80);*/
}

.debug * {
    /*border: 1px solid rgb(0, 0, 0);*/
}

header {
    background-color: #3161e0;
    height: 4rem;
    display: flex;
    justify-content: space-between;
}

.jumbotron{
    background-image: url(../img/jumbo.png);
    background-size: cover;
    height: 600px;
    padding: 2rem;
}

a{
    text-decoration: none;
    color: white;
}

button {
    background-color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 20px;
    padding: 7px;
    
}

.tech-pa{
    padding: 0 2rem;
}

.bg-wh {
  color: #ffffff;
}

.bg-black{
    color: rgb(0, 0, 0);

}

.bt-black{
   background-color: #23272a;
   color: #ffffff;
}

.logo {
    
}

.flex-items {
    text-align: center;
    padding: 2rem;
    
}

.main-header {
    padding: 2rem;
    text-align: center;
    color: #ffffff;
    
}

/* img */

.img-box {
    margin: 0px 20px 0px 0px;
    width: 70%;
    height: auto;
}

.img-box-central {
    width: 60%;
    /*height: 180px;*/
    margin: 0px 0px 0px 20px;
   /* background-color: blue;*/
}

.img-box img {
    margin: 0px 20px 0px 0px;
    /*background-color: rgb(35, 15, 15);*/

}

.base-img {
   /* background-color: blue;*/
   /* height: 200px;*/
    width: 100%;
    justify-content: center;

}

.star{
    background-image: url(../img/stars.svg);
}

.sp-ar {
}

section {
   /* background-color: rgb(80, 38, 38);*/
    padding: 20px 0;
}

.down-sect {
    padding: 20px 0;
    text-align: center;
    max-width: 100%;
}

.h-main {
    padding: 0.5rem 0;
}

h2 {
    /**/
    width: auto;
    margin-bottom: 1rem;
    /*background-color: blueviolet;*/
}

.debug p {
  /*  background-color: rgb(157, 86, 0);*/
   /* height: 130px;*/
}

.t-width {
    width: 40%;
    font-size: 1.5rem;
}

footer {
    background-color: rgb(144, 116, 116);
}